@font-face {
    font-family: Valorant;
    src: url("Valorant.ttf");
  }
  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');
  body{
    font-family: 'Comic Neue', cursive;
    font-style: normal;
    color: white;
    margin: 0px;
    background-color: #f0f0f0;
    font-size : 1.4rem;
  }
  .navbar{
    font-weight: 700;
    font-size: 1.3rem;
    background-color: #1e212d; 
  }
  .navbar ul{
    margin-top:20px;
    margin-bottom: 0;
  }
  .navbar ul li .active{
    background-color: #343f56;
    border-radius: 2px 15px;
    border:2px solid #343f56;
  }
  .navbar ul li .dropdown-item{
    background-color: #343f56;
    border-radius: 2px 15px;
    border:2px solid #343f56;
  }
  .navbar ul li .nav-link:hover{
    background-color: #1e212d;
    border-radius: 2px 15px;
    border:2px solid white;
    transition:width 1s ease-in;
  }
  .navbar li .nav-link{
    color:#ffffff!important;
    margin-right: 1rem;

    border-radius: 2px 15px;
    border:2px solid #1e212d;
  }
  .navbar ul .dropdown-menu{
    background-color: transparent;
    border: 0;
  }
  .navbar ul li .dropdown-item{
    color:white;
    background-color: #1e212d;
    margin-bottom: .1rem;
    border-radius: 2px 15px;
    border:2px solid #1e212d;
  }
  .navbar ul li .dropdown-item:hover{
    background-color: #343f56;
    border-radius: 2px 15px;
    border:2px solid #ffffff;
  }
  .jumbotron{
    background: #111116;
    margin-bottom: 0px;
    height: 400px;
    padding: 0px;
    position: relative;
  }
  #pic{
    margin-left: -81px;
    margin-top: 95.5px;
    position: absolute; z-index: 1;
    border: 2px solid #0195fb;
  }
  #pic:hover{
    border:2px solid #ffffff;
  }
  .logo{
    font-size: 2rem;
    font-family: Valorant;
    width: 20%;
  }
  .anim, .anim svg {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .anim path {
    stroke-width: 2;
  }
  .title{
    background-color: #1e212d; 
    color: #ffffff;
    height: 150px;
    font-size: 2rem;
  }
  .card{
    font-weight: 700;
    color: #555;
    border:0;
  }
  .card-header:first-child{
    border-radius: 0;
  }



  @media only screen and (max-width: 992px) {
    .navbar{ 
        font-size: 2rem;
        padding-bottom:1.5rem!important;
        padding-top:1.5rem!important;}
    .logo{
        font-size: 2.5rem;
    }
    .navbar ul{
        margin-left: 0;
        font-size: 3rem;
        padding: -10px;
    }
}